
@{
    Layout = null;
}
<!--
0. Review the code in existing svg on the page
1. Add a svg graphics object to the page with 2 rectangles
2. Style the outline of the svg object
3. Add a circle to the svg
4. Add a elipsis to the svg
5. Add a new svg and draw a polygon
6. Add a rectangle and rotate it 45 degrees
7. Add a rectangle and Scale it and rotate it


-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo1End</title>
    <style type="text/css">
        svg {
            border: 2px solid darkblue;
            background-color: lightgreen;
            width: 300px;
            height: 200px;
        }
    </style>

</head>
<body>
<div>
    <svg xmlns="http://www.w3.org/2000/svg">
        <rect x="50" y="50" width="100" height="75"
              rx="20" ry="20" fill="red" stroke="blue" />

        <rect x="75" y="75" width="100" height="75"
              fill="yellow" stroke="blue" />
        <circle cx="160" cy="120" r="60"
                stroke="blue" fill="yellow"/>
        <ellipse cx="150" cy="140" rx="110" ry="30"
                 stroke="blue" fill="black" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg">
        <polygon points="110 70, 150 40, 190 70, 190 160, 150 130, 110 160"
                 fill="yellow" stroke="blue"/>

    </svg>
    <svg width="31" height="31">
        <rect x="12" y="-10" width="20" height="20" transform="rotate(45)"/>
    </svg>
    <svg width="800" height="800">
        <g transform="scale(0.5)">
            <rect width="50" height="50" transform="rotate(45)"/>
        </g>
    </svg>

    <svg width="600" height="600">
        <script type="text/JavaScript">
               function showColor() {
                  alert("Color of the Rectangle is: "+
                  document.getElementById("rect1").getAttributeNS(null,"fill"));
               }

               function showArea(event){
                  var width = parseFloat(event.target.getAttributeNS(null,"width"));
                  var height = parseFloat(event.target.getAttributeNS(null,"height"));
                  alert("Area of the rectangle is: " +width +"x"+ height);
               }

               function showRootChildrenCount() {
                  alert("Total Children: "+document.documentElement.childNodes.length);
               }
        </script>

        <g>
            <text x="30" y="50" onClick="showColor()">Click me to show rectangle color.</text>

            <rect id="rect1" x="100" y="100" width="200" height="200"
                  stroke="green" stroke-width="3" fill="red"
                  onClick="showArea(event)" />

            <text x="30" y="400" onClick="showRootChildrenCount()">
                Click me to print child node count.
            </text>
        </g>
    </svg>
</div>
</body>
</html>
