
@{
    Layout = null;
}
<!--
1. Add a canvas to the page
2. Add script to the page to draw on the canvas
3. Add a style to the canvas
4. Draw a line from top left to lower rigth corner
5. Add a new canvas and scale it

-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo2Start</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
