
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<h2>Lesson 5</h2>

@Html.ActionLink("Demo 1", "Demo1Start")
@Html.ActionLink("Demo 2", "Demo2Start")
@Html.ActionLink("Demo 3", "Demo3Start")

