
@{
    Layout = null;
}
<!--

1. Add jquery from a cdn to the page
2. add a div with the id content to the page
3. Use a for loop to create 10 labels and append them to the content div with out using jquery, tip look at the innerHTML property or append child, appendchild is preffered
4. Same a in assignment 3 but use jquery to do the same
5. Get child count in content not using jquery
6. Same as 5 but using jquery
7. Add a div with mouseover not using jquery
8. Same as 7 but using jquery
9. add a input at set the value using jquery
10 add a input and copy the entered to a div
11. set focus on a input when the page has loaded
12. Add a class to all labels that makes the text bigger


-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo1Start</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
