
@{
    Layout = null;
}
<!-- steps to complete this task
1. Make a inline style for the phone number label
2. Make a body style for the p tag
3. Add a css file and set the color on the email field use content folder
4. Add a in page script tag and show an alert box when the page loads
5. Add a script file that shows some text when the user clicks the button use the scripts folder
6. Extra assignments disable the button when the user clicks it, submit the form, move in line style to css and style the tag using a class.
-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo2End</title>
    <link href="~/Content/Lesson1/Demo2.css" rel="stylesheet"/>
    <style>
        p {
            color: red;
        }
    </style>
</head>
<body>
<h1>Jee consult contact</h1>
<p>Jee Consult HQ</p>
<p>
    123 South Street<br/>
    Somewhere<br/>
    Over There<br/>
    <em>Denmark</em>
</p>
<p>
    If you would like to contact Jee Consult, whether you're interested in our
    services or in a conference we're currently organizing, don't hesitate to contact us
    using our enquiry form (<strong>Bold fields</strong> are required).
</p>
<form id="frm" method="Post" action="/Lesson1/Demo2End">
    <fieldset>
        <legend>
            Your Details and Enquiry
        </legend>
        <ol>
            <li>
                <label>
                    <strong>Name</strong><br/>
                    <input type="text"
                           name="UserName"/>
                </label>
            </li>
            <li>
                <label style="font-weight: bolder">
                    Telephone<br/>
                    <input type="text" value="testet" readonly="readonly"
                           name="Phone"/>
                </label>
            </li>
            <li>
                <label>
                    Email Address<br/>
                    <input type="text" required="required"
                           name="Email" id="Email"/>
                </label>
            </li>
            <li>
                <label>
                    <strong>Message</strong><br/>
                    <textarea name="Message"
                              cols="30" rows="10">
                            Add your message here
                        </textarea>
                </label>
            </li>
        </ol>
    </fieldset>
    <input type="button" onclick="FireFunction()" value="Send"/>
</form>
<script type="text/javascript">
    alert("hej");
</script>
    <script src="~/Scripts/Lesson1/Demo2.js" type="text/javascript"></script>
</body>

</html>