
@{
    Layout = null;
}
<!--
1. Add 4 divs to the body
2. Rotate div 1
3. Translate div 2
4. Scale div 3
5. skew div 4

-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo2Start</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
