
@{
    Layout = null;
}
<!--
1. Create a xmlhttprequest object
2. Add a div with the id content
3. Make a get request to /ajax/CurrentTime
4. Make a if statement to check if the response status is ok
5. Use the onreadystatechange to find readystate 4 and insert the responseText in the content div
6. Remember to enclose your code in a try/catch block
7. Make a new div called jquerycontent
8. Make a jquery get call /ajax/CurrentTime
9. insert the result in jquerycontent div
10. Remember to enclose your code in a try/catch block
11. Make a new div called jquerycontent
12. Make a jquery ajax get call /ajax/CurrentTime
13. insert the result in jquerycontent2 div
14. Remember to enclose your code in a try/catch block


-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo1Start</title>
</head>
<body>
<div>
</div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
</body>
</html>
