
@{
    Layout = null;
}
<!--
1. Add a nav tag around the link
2. Add header tag around the headers
3. Add a foother tag around the footer and mark the words last updated and use a time tag around the date
4.Divide the content not in nav, header, footer in a article and 2 sections
5. Extra assignments add a hgroup tag
6. Add product with details


-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Content</title>
</head>
<body>
    <a href="/">Home</a>
<h1>Contact Us</h1>
<h3>For further info</h3>

        <h1>Articleheader</h1>
            <h1>How to</h1>
            <ul>
                <li>Sleep</li>
                <li>Run</li>
            </ul>
            <h1>Method</h1>
            <ol>
                <li>Shoes</li>
                <li>Running clothes</li>
                <li>Hello</li>
            </ol>
<small>Last updated on August 12, 2012</small>
</body>
</html>