
@{
    Layout = null;
}
<!--

The purpose of this exercise is to build a registration form
Use the following structure for each field
<div id=”*Field” class="field">
    <input id="*" name="*" type="text"
           placeholder="Description"/>
    <label for="*">Label text</label>
</div>
Replace * with the fieldsname, enter a description and a label text


1. Add a form with method post and action="/lesson4/demo1start"
2. Add a legend to the form
3. Add a javascript validation method
4. Add css classes for input to indicate if the are valid or not
5. Add a username field which is required and must not only contain spaces
6. Add a password field which is required and must not only contain spaces
7. Add a repeatpassword field which is required and must not only contain spaces and must have same value as the password
8. Add a email field with same rules as username
9. Add a age field with a interval between 0 and 125.
10. Add a date field with a min date of 2000-1-1
11. Add a text field that only allows capital letters from the danish alphabet and max 3 letters
12. Extra assignment try to make the form validation as small as possible


-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo1Start</title>
</head>
<body>
<div>
</div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
</body>
</html>
